<div class="container" [ngClass]="{ 'dark-theme': darkEnabled }">
  <mat-toolbar color="primary" fxLayout="row">
    <div fxFlex="95">Retro-Time</div>
    <button mat-raised-button color="warn" (click)="darkEnabled = !darkEnabled">Dark Theme</button>
  </mat-toolbar>
  <div class="container">
    <!-- <ul *ngFor="let sticky of stickies | async">
    <li>{{sticky.text}}</li>
  </ul> -->

    <div class="container">
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between center">
          <div fxFlex="50" *ngFor="let catagory of catagories">
            <app-catagory [catagory]="catagory"></app-catagory>
          </div>
        </div>
      </div>
      <button (click)="openDialog()" class="fab" mat-fab color="primary">
        <i class="material-icons">add</i>
      </button>
    </div>
  </div>
</div>